<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.RegisterController</servlet-class>
  </servlet>
  
  	
  <servlet>
  	<servlet-name>AdminDController</servlet-name>
  	<display-name>AdminDController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.AdminDController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserViewListController</servlet-name>
  	<display-name>UserViewListController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.UserViewListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerDController</servlet-name>
  	<display-name>CustomerDController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.CustomerDController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StaffDController</servlet-name>
  	<display-name>StaffDController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.StaffDController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryViewController</servlet-name>
  	<display-name>QueryViewController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.QueryViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationViewController</servlet-name>
  	<display-name>ReservationViewController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.ReservationViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryViewListController</servlet-name>
  	<display-name>QueryViewListController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.QueryViewListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationViewListController</servlet-name>
  	<display-name>ReservationViewListController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.ReservationViewListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerQController</servlet-name>
  	<display-name>CustomerQController</display-name>
  	<description></description>
  	<servlet-class>abcRestaurantwebapp.controller.CustomerQController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AdminDController</servlet-name>
  	<url-pattern>/AdminDController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserViewListController</servlet-name>
  	<url-pattern>/UserViewListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerDController</servlet-name>
  	<url-pattern>/CustomerDController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StaffDController</servlet-name>
  	<url-pattern>/StaffDController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryViewController</servlet-name>
  	<url-pattern>/QueryViewController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationViewController</servlet-name>
  	<url-pattern>/ReservationViewController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryViewListController</servlet-name>
  	<url-pattern>/QueryViewListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationViewListController</servlet-name>
  	<url-pattern>/ReservationViewListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerQController</servlet-name>
  	<url-pattern>/CustomerQController</url-pattern>
  </servlet-mapping>
</web-app>
